@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
@import 'aos/dist/aos.css';


body {}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-Regular.ttf") format("ttf");
}

.matterFont {
  font-family: "Matter";
}

.placeholder-style {
  color: rgba(0, 0, 0, 0.5);
}

@layer components {
  .font56 {
    @apply text-3xl sm:text-[42px] sm:leading-[48px] lg:text-[56px] lg:leading-[64px];
  }

  .font48 {
    @apply text-3xl sm:text-[38px] sm:leading-[44px] lg:text-[48px] lg:leading-[56px];
  }

  .font42 {
    @apply text-[28px] leading-8 sm:text-[34px] sm:leading-[40px] lg:text-[42px] lg:leading-[48px];
  }

  .font32 {
    @apply text-2xl sm:text-[28px] sm:leading-9 lg:text-[32px] lg:leading-10;
  }

  .font28 {
    @apply text-xl sm:text-2xl sm:leading-8 lg:text-[28px] lg:leading-9;
  }

  .font24 {
    @apply text-lg sm:text-xl lg:text-2xl;
  }

  .font20 {
    @apply text-base sm:text-lg lg:text-xl;
  }

  .font18 {
    @apply text-sm sm:text-base lg:text-lg;
  }

  .font16 {
    @apply text-xs sm:text-sm lg:text-base;
  }

  .font14 {
    @apply text-[10px] sm:text-xs lg:text-sm;
  }

  .font12 {
    @apply text-[8px] leading-3 sm:text-[10px] lg:text-xs;
  }
}

.custom-dotted-line {
  width: 100%;
  height: 10px;
  /* Adjust the height of the lines as desired */
  background-image: url("/underline.png");
  /* Replace 'line-pattern.png' with your actual image path */
  background-repeat: repeat-x;
  background-position: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-up-enter-active {
  animation: fadeInUp 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  animation: fadeIn 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-enter {
  opacity: 0;
  transform: scale(0.8);
}

.zoom-enter-active {
  animation: zoomIn 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}